@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins&display=swap');



/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'graphik', sans-serif;
    /* height: 100vh; */
    background: linear-gradient(75deg, silver, cornsilk, azure, cornsilk, silver);
    width: 100vw;
}



/* NAV */
.nav {
    width: 100vw;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: transparent;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.nav .left {
    font-size: 3rem;
    margin-left: 0;
}

.nav .right {
    font-style: italic;
    font-size: 1.8rem;
    display: flex;
}

.nav .right-ul {
    display: flex;
    width: fit-content;
    justify-content: center;
}

.nav .right-ul li {
    list-style: none;
    border-right: 2px solid black;
}

.nav .right-ul li:last-child {
    border: none;
}

.nav .right-ul li a {
    color: #444;
    text-decoration: none;
    padding: 0 18px;
    display: flex;
    width: fit-content;
    justify-content: center;
}

.nav .right-ul li a:hover {
    color: #000;
    scale: 1.1;
    transition: scale 0.25s ease-out;
}



/* SECTIONS */
.firstSection {
    margin: 100px auto;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.leftSection {
    align-items: center;
    color: black;
    display: flex;
    flex-flow: wrap;
    font-family: 'tr larabiefont', sans-serif;
    font-size: 3rem;
    width: 45vw;
}

.rightSection {
    display: flex;
    width: 30vw;
}

/* about */
.secondSection {
    background: transparent;
    border-radius: 8px 14px 60px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    height: 80vh;
    margin: 60px auto;
    position: relative;
    width: 80vw;
}

.CV {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    transition: all 0.5s;
}

.clip1 {
    background: url(../assets/SKILLS.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);
    border-radius: 8px 14px 60px 0;
}

.clip2 {
    background: url(../assets/work_edu.gif);
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);
    border-radius: 8px 14px 60px 0;
}

.clip3 {
    background: url(../assets/achievements.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
    border-radius: 8px 14px 60px 0;
}

.secondSection:hover .CV {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.secondSection .CV:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* services */
.thirdSection {
    height: 80vh;
    margin: 60px auto;
    width: 80vw;
}

.service-icon {
    border-radius: 4px;
    border: 4px solid rgba(0, 0, 0, 0.3);
    transform: rotate(-45deg);
    /* width: 90px;
    height: 90px; */
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-box:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.service-box:hover .service-title,
.service-box:hover .service-description {
    color: white;
    border-bottom-color: white;
    transform: scale(1.03);
}

.service-box:hover .service-icon {
    color: white;
    border-color: transparent;
    filter: invert(-100%);
    background-color: white;
}

.service-box:hover .icon {
    transform: rotate(45deg);
}

.icon {
    padding: 8px;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
}

.services-container {
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    font-family: monospace;
}

.service-box {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 20px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    border-radius: 4px;
}

.service-box:first-child {
    border-radius: 30px 4px 4px 30px;
}

.service-box:last-child {
    border-radius: 4px 30px 30px 4px;
}

.service-title {
    font-size: 1.6rem;
    margin: 20px auto 0;
    color: black;
    border-bottom: 2px solid black;
    text-align: center;
    width: 80%;
}

.service-description {
    text-align: justify;
    line-height: 1.8;
    margin: 10px;
    color: black;
}

/* contact-me */
.cta-btn {
    display: flex;
    border: transparent;
    background: transparent;
    outline: transparent;
    border-radius: 12px;
    margin: auto;
    cursor: pointer;
    font-family: monospace;
}

.cta-btn .heading {
    padding: 5px;
    font-family: 'cascadia code';
}

.cta-btn::before {
    content: "<—";
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.cta-btn::after {
    content: "—>";
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.cta-btn:hover {
    background: rgba(255, 177, 177, 0.4);
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
}

.model-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.model {
    background-color: whitesmoke;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 500px;
}

.model-content {
    padding: 20px;
}

.model-form div {
    margin: 20px 0;
}

.model-form label {
    display: block;
    margin-bottom: 6px;
}

.model-form .form-input {
    border-radius: 4px;
    border: transparent;
    padding: 8px;
    width: 100%;
}

.close-btn {
    background: transparent;
    font-family: 'komika title';
    border: none;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
}

.model-container .submit-btn {
    padding: 10px 30px;
    font-weight: bold;
    background: indianred;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

/* Javascript */
.model-container.show-model {
    display: block;
}


/* footer */
.footer {
    padding: 0;
    margin: 20px auto 0;
    height: 30vh;
    width: 90%;
    /* background: #444; */
    font-family: monospace;
    display: flex;
    justify-content: space-between;
}

.footer .footer-h2 {
    display: flex;
    align-items: center;
    margin: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    border-right: 4px outset midnightblue;
    border-radius: 2px;
    padding: 0 20px;
}

.footer .footer-ul {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-icon {
    width: 50px;
    height: 50px;
}

.footer .footer-li {
    margin: 30px;
    /* font-size: 1.6rem; */
    list-style: none;

}


/* UTILITY */
.heading {
    font-size: 3rem;
    text-align: center;
    padding: 0;
    width: 20vw;
    margin: auto;
    font-family: 'poppins';
}

.heading .line1 {
    width: 14vw;
    border-radius: 20px;
}

.cursor {
    background: chocolate;
}

.name {
    font-size: 4rem;
    color: darkblue;
}

.dev {
    font-size: 4rem;
    font-style: italic;
    color: chocolate
}

.line {
    height: 2.6px;
    margin: auto 90px;
    background: brown;
    border-radius: 20px;
    border: none;
    display: flex;
}

.line1 {
    height: 2.6px;
    margin: auto 90px;
    background: midnightblue;
    border-radius: 20px;
    border-color: midnightblue;
}

.line2 {
    height: 2.8px;
    margin: 2px 60px auto auto;
    background: blue;
    border-radius: 20px;
    border-color: blue;
}



/* to-top-buttin */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 2rem;
    font-family: 'damn noisy kids';
}

#myBtn:hover {
    background-color: transparent;
    color: black;
    transform: scale(2);
}