* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Dubai', sans-serif;
    height: 100vh;
    width: 100vw;
    background: azure;

}

.img-bg {
    background: url(../assets/web_dev.png) cover;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: goldenrod;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.nav .left {
    font-size: 3rem;
}


.nav .right {
    font-size: 1.8rem;
    display: flex;
}

.nav .right-ul {
    display: flex;
    width: fit-content;
    justify-content: center;
}

.nav .right-ul li {
    padding: 0 18px;
    display: flex;
    width: fit-content;
    justify-content: center;
    list-style: none;
    border-right: 2px solid black;
}

.nav .right-ul li:last-child {
    border: none;
}


.firstSection {
    height: 60vh;
    width: 100vw;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.leftSection {
    display: flex;
    width: 35vw;
    background: #000;
    color: white;
}

.leftSection .leftImg {
    margin: 0;
    padding: 0;
    align-items: center;
    border-radius: 50%;
    border: 4px double white;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.rightSection {
    background: #000;
    display: flex;
    width: 35vw;
}