/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(cornsilk, #BABBBB);

}

/* NAV */
.nav {
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: transparent;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    font-family: 'graphik';
    font-weight: bold;
}

.nav .left {
    font-size: 3rem;
    margin-left: 0;
}


.nav .right {
    font-style: italic;
    font-size: 1.8rem;
    display: flex;
}

.nav .right-ul {
    display: flex;
    width: fit-content;
    justify-content: center;
}


.nav .right-ul li {
    padding: 0 18px;
    display: flex;
    width: fit-content;
    justify-content: center;
    list-style: none;
    border-right: 2px solid black;
}

.nav .right-ul li:last-child {
    border: none;
}

/* SECTIONS */
.firstSection {
    margin: 80px auto;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.leftSection {
    background: yellow;
    border-radius: 20px 30px 90px 0;
    display: flex;
    width: 60vw;
    color: tomato;
    font-size: 5rem;
    align-items: center;
    margin-left: 0;
    flex-flow: wrap;
}

.rightSection {
    display: flex;
    width: 30vw;
    background: aqua;
}

/* 
.rightSection img {

} */


/* UTILITY */
.name {
    color: black;
}

.dev {
    color: fuchsia
}